{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
						<h5 class="text-white op-7 mb-2">Overall report of Sentiments of the given product link</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Overall statistics</div>
							<div class="card-category">Counts of different sentiments</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-1"></div>
									<h6 class="fw-bold mt-3 mb-0">Neutral</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-2"></div>
									<h6 class="fw-bold mt-3 mb-0">Positive</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Negative</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Sentiments over the Bar Graph</div>
							<div class="row py-3">
								<div class="col-md-3 d-flex flex-column justify-content-around">
									<div>
										<h6 class="fw-bold text-uppercase text-success op-8">Positive</h6>
										<h3 class="fw-bold text-success">{{ positive }}</h3>
									</div>
									<div>
										<h6 class="fw-bold text-uppercase text-danger op-8">Negative</h6>
										<h3 class="fw-bold text-danger">{{ negative }}</h3>
									</div>
								</div>
								<div class="col-md-9">
									<div id="chart-container">
										<canvas id="totalIncomeChart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-primary full-height">
						<div class="card-header">
							<div class="card-title">Total Reviews</div>
							<div class="card-category">Total Reviews of this product:</div>
						</div>
						<div class="card-body pb-0">
							<div class="mb-4 mt-2">
								<h1>{{total_reviews}}</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
							<div class="card-body pb-0">
<!--								<div class="h4 fw-bold float-right text-danger">{{negative}} Negative</div>-->
								<h2 class="mb-2">Sentiments over the Time</h2>
								<br>
								<br>
								<br>
								<div class="pull-in sparkline-fix">
									<div id="lineChart"></div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="card card-primary bg-primary-gradient">
						<div class="card-body">
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Prediction About the product</h4>
							<h1 class="h1 fw-bold text-warning">{{ positive }} positive reviews out of {{total_reviews}}</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">{{message}}</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Top Positive Review</div>
						</div>
						<div class="card-body">
								<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-success">{{icon_pos}}</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">{{top_pos_cname}} <span class="text-success pl-3">Positive</span></h6>
									<span class="text-muted">{{top_pos_rev}}</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">{{top_pos_date}}</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Most Negative Review</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-danger">{{icon_neg}}</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">{{top_neg_cname}} <span class="text-danger pl-3">Negative</span></h6>
									<span class="text-muted">{{top_neg_rev}}</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">{{top_neg_date}}</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
<!--							<div class="d-flex">-->
<!--								<div class="avatar avatar-offline">-->
<!--									<span class="avatar-title rounded-circle border border-white bg-secondary">{{icon_neg}}</span>-->
<!--								</div>-->
<!--								<div class="flex-1 ml-3 pt-1">-->
<!--									<h6 class="text-uppercase fw-bold mb-1">{{top_neg_cname}} <span class="text-danger pl-3">Negative</span></h6>-->
<!--									<span class="text-muted">{{top_neg_rev}}</span>-->
<!--								</div>-->
<!--								<div class="float-right pt-1">-->
<!--									<small class="text-muted">{{top_neg_date}}</small>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="separator-dashed"></div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/js/setting-demo.js"></script>

	<script>
	var positive = "{{ positive }}";
	var negative = "{{ negative }}";
	var neutral = "{{ neutral }}";
	var total_reviews = "{{ total_reviews }}";

		Circles.create({
			id:'circles-1',
			radius:45,
			value:((neutral*100)/total_reviews),
			maxValue:100,
			width:7,
			text: neutral,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:((positive*100)/total_reviews),
			maxValue:100,
			width:7,
			text: positive,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:((negative*100)/total_reviews),
			maxValue:100,
			width:7,
			text: negative,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');
		var counts = JSON.parse("{{ data_dash }}");
        var index = JSON.parse("{{ index_dash }}");

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: index,
				datasets : [{
					label: "Overall Sentiment Score",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: counts,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		var counts = JSON.parse("{{ data_dash }}");

		$('#lineChart').sparkline(counts, {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
