		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="white">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="dashboard">
											<span class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li>
						<li class="nav-item {% if 'tables' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#tables">
								<i class="fas fa-table"></i>
								<p>Tables</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav nav-collapse">
									<li>
										<a href="tables-simple">
											<span class="sub-item">Sentiments Table</span>
										</a>
									</li>
									<li>
										<a href="tables-data">
											<span class="sub-item">Scrapped Reviews Table</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'charts' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#charts">
								<i class="far fa-chart-bar"></i>
								<p>Charts</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="charts">
								<ul class="nav nav-collapse">
									<li>
										<a href="charts">
											<span class="sub-item">Detailed Charts</span>
										</a>
								</ul>
							</div>
						</li>
						<!--						SAVE PAGE						-->
						<li class="nav-item {% if 'save' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#save">
								<i class="far fa-chart-bar"></i>
								<p>Analyze</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="save">
								<ul class="nav nav-collapse">
									<li>
										<!--REFERENCE TO THE SAVE PAGE TO BE ADDED HERE-->
										<a href="/">
											<span class="sub-item">Analyze another Product</span>
										</a>
										<!--REFERENCE TO THE SAVE PAGE TO BE ADDED HERE-->
								</ul>
							</div>
						</li>
						<!--						SAVE PAGE						-->

						<!--						ABOUT PAGE						-->
						<li class="nav-item {% if 'about' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#about">
								<i class="far fa-chart-bar"></i>
								<p>About</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="about">
								<ul class="nav nav-collapse">
									<li>
										<!--REFERENCE TO THE ABOUT PAGE TO BE ADDED HERE-->
										<a href="about">
											<span class="sub-item">About REVBRICK</span>
										</a>
										<!--REFERENCE TO THE ABOUT PAGE TO BE ADDED HERE-->
								</ul>
							</div>
						</li>
						<!--		ABOUT PAGE		-->
					</ul>
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        